USE [master]
GO
/****** Object:  Database [DB_sportmanagement]    Script Date: 5/1/2019 9:47:01 PM ******/
CREATE DATABASE [DB_sportmanagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_sportmanagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_sportmanagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_sportmanagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_sportmanagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_sportmanagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_sportmanagement]
GO
/****** Object:  Table [dbo].[tbl_NewTest]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NewTest](
	[NewTest_Id] [int] IDENTITY(1,1) NOT NULL,
	[NewTest_Date] [date] NULL,
	[NewTest_Type] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_NewTest] PRIMARY KEY CLUSTERED 
(
	[NewTest_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Role]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Role] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Test]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Test](
	[Test_Id] [int] IDENTITY(1,1) NOT NULL,
	[Test_Name] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Test] PRIMARY KEY CLUSTERED 
(
	[Test_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_TestDetails]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ranking] [nvarchar](50) NULL,
	[Distance] [numeric](18, 0) NULL,
	[IsActive] [bit] NULL,
	[NewTest_Id] [int] NULL,
 CONSTRAINT [PK_tbl_TestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[Users_Id] [int] IDENTITY(1,1) NOT NULL,
	[Users_Name] [nvarchar](50) NULL,
	[Users_RoleID] [int] NULL,
	[IsActive] [bit] NULL,
	[Passowrd] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Users] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_NewTest] ON 

INSERT [dbo].[tbl_NewTest] ([NewTest_Id], [NewTest_Date], [NewTest_Type], [IsActive]) VALUES (1, CAST(N'2019-05-01' AS Date), 2, 0)
INSERT [dbo].[tbl_NewTest] ([NewTest_Id], [NewTest_Date], [NewTest_Type], [IsActive]) VALUES (2, CAST(N'2019-05-01' AS Date), 1, 0)
INSERT [dbo].[tbl_NewTest] ([NewTest_Id], [NewTest_Date], [NewTest_Type], [IsActive]) VALUES (3, CAST(N'2019-05-01' AS Date), 2, 0)
SET IDENTITY_INSERT [dbo].[tbl_NewTest] OFF
SET IDENTITY_INSERT [dbo].[tbl_Role] ON 

INSERT [dbo].[tbl_Role] ([Role_Id], [Role], [IsActive]) VALUES (1, N'Coach', 1)
INSERT [dbo].[tbl_Role] ([Role_Id], [Role], [IsActive]) VALUES (2, N'Athlete', 1)
SET IDENTITY_INSERT [dbo].[tbl_Role] OFF
SET IDENTITY_INSERT [dbo].[tbl_Test] ON 

INSERT [dbo].[tbl_Test] ([Test_Id], [Test_Name], [IsActive]) VALUES (1, N'Coopertest', 1)
INSERT [dbo].[tbl_Test] ([Test_Id], [Test_Name], [IsActive]) VALUES (2, N'sprint', 1)
SET IDENTITY_INSERT [dbo].[tbl_Test] OFF
SET IDENTITY_INSERT [dbo].[tbl_TestDetails] ON 

INSERT [dbo].[tbl_TestDetails] ([Id], [Ranking], [Distance], [IsActive], [NewTest_Id]) VALUES (1, N'Magen Faye', CAST(3000 AS Numeric(18, 0)), 1, 2)
INSERT [dbo].[tbl_TestDetails] ([Id], [Ranking], [Distance], [IsActive], [NewTest_Id]) VALUES (2, N'Camille Grantham', CAST(2000 AS Numeric(18, 0)), 1, 1)
INSERT [dbo].[tbl_TestDetails] ([Id], [Ranking], [Distance], [IsActive], [NewTest_Id]) VALUES (3, N'Randy Rondon', CAST(1000 AS Numeric(18, 0)), 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_TestDetails] OFF
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([Users_Id], [Users_Name], [Users_RoleID], [IsActive], [Passowrd]) VALUES (1, N'Mitchel Fausto', 1, 1, N'123')
INSERT [dbo].[tbl_Users] ([Users_Id], [Users_Name], [Users_RoleID], [IsActive], [Passowrd]) VALUES (2, N'Queen Jacobi', 2, 1, N'123')
INSERT [dbo].[tbl_Users] ([Users_Id], [Users_Name], [Users_RoleID], [IsActive], [Passowrd]) VALUES (3, N'Magen Faye', 2, 1, N'123')
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
ALTER TABLE [dbo].[tbl_TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TestDetails_tbl_TestDetails] FOREIGN KEY([NewTest_Id])
REFERENCES [dbo].[tbl_NewTest] ([NewTest_Id])
GO
ALTER TABLE [dbo].[tbl_TestDetails] CHECK CONSTRAINT [FK_tbl_TestDetails_tbl_TestDetails]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Test]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Delete_Test]
@Id int
as
begin
Update tbl_NewTest set IsActive=0 Where NewTest_Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAthelet_Test]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteAthelet_Test]
@Id int
as
begin
Update tbl_TestDetails set IsActive=0 Where Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Edit_User]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Edit_User]
@User_Id int
as
begin
Select * from tbl_TestDetails Where id=@User_Id and IsActive=1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Inseart_NewTest]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Inseart_NewTest]
@NewTest_Type nvarchar(100),
@NewTest_Date date
as
begin
Insert into tbl_NewTest(NewTest_Date,NewTest_Type,IsActive) values(@NewTest_Date,@NewTest_Type,1)
end
 
GO
/****** Object:  StoredProcedure [dbo].[sp_Inseart_TestDetail]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Inseart_TestDetail]
@Ranking nvarchar(100),
@Distance int,
@NewTest_Id int
as
begin
Insert into tbl_TestDetails(Ranking,Distance,IsActive,NewTest_Id) values(@Ranking,@Distance,1,@NewTest_Id)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Login]
@UserName nvarchar(100),
@Password nvarchar(100)
as
begin
SELECT * from tbl_Users WHERE Users_Name=@UserName and Passowrd = @Password
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Select_Test]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_Select_Test]
as
begin

Select tbl_NewTest.NewTest_Date,tbl_Test.Test_Name,tbl_NewTest.NewTest_Id from tbl_NewTest join tbl_Test on tbl_NewTest.NewTest_Type=tbl_Test.Test_Id
select NewTest_Id,count(*) as count_post from tbl_TestDetails group by NewTest_Id 
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Select_TestDetail]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Select_TestDetail]
@NewTest_Id int
as
begin
Select * from tbl_TestDetails Where IsActive=1 and NewTest_Id=@NewTest_Id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Select_TestType]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Select_TestType]
as
begin
Select * from tbl_Test Where IsActive=1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Select_User]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Select_User]
as
begin
Select * from tbl_Users
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_TestDetail]    Script Date: 5/1/2019 9:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Update_TestDetail]
@Ranking nvarchar(100),
@Distance int,
@NewTest_Id int,
@id int
as
begin
update tbl_TestDetails set Ranking=@Ranking,Distance=@Distance Where id=@id
end

GO
USE [master]
GO
